[gerrit]
        basePath = git
        canonicalWebUrl = http://gerrit.cloudsec101.com
        serverId = f2c50cc7-6450-41ea-9d72-6ddc268cffe8
[index]
        type = LUCENE
[auth]
        type = HTTP
        logoutUrl = https://id.cloudsec101.com/auth/realms/master/protocol/openid-connect/logout
        httpHeader = X-SAML-UserName
        httpEmailHeader = X-SAML-EmailHeader
        httpExternalIdHeader = X-SAML-ExternalId



[sendemail]
        smtpServer = localhost
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8080/
        filterClass = com.googlesource.gerrit.plugins.ootb.FirstTimeRedirect
        firstTimeRedirectUrl = /login/%23%2F?account_id=1000000
        filterClass = com.googlesource.gerrit.plugins.saml.SamlWebFilter

[saml]
        serviceProviderEntityId = SAML2Client
        keystorePath = etc/samlKeystore.jks
        keystorePassword = pac4j-demo-password
        privateKeyPassword = pac4j-demo-password
        metadataPath = https://id.cloudsec101.com/auth/realms/master/protocol/saml/descriptor
        userNameAttr = UserName
        displayNameAttr = DisplayName
        emailAddressAttr = EmailAddress
        computedDisplayName = true
        firstNameAttr = firstName
        lastNameAttr = lastName

[cache]
        directory = cache
[plugins]
        allowRemoteAdmin = true
[container]
        javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
        javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
        user = gerrit
        javaHome = /usr/lib/jvm/java-17-openjdk-17.0.11.0.9-2.el9.x86_64
        javaOptions = -Djava.security.egd=file:/dev/./urandom
        javaOptions = --add-opens java.base/java.net=ALL-UNNAMED
        javaOptions = --add-opens java.base/java.lang.invoke=ALL-UNNAMED
        javaOptions = -Djava.security.egd=file:/dev/./urandom
        javaOptions = --add-opens java.base/java.net=ALL-UNNAMED
        javaOptions = --add-opens java.base/java.lang.invoke=ALL-UNNAMED
[receive]
        enableSignedPush = false